*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}

body {
    height: 100vh;
    background:linear-gradient(rgba(42, 207, 36, 0.923),rgba(24, 142, 215, 0.249));
}

.container{
    width: 90%;
    max-width: 31.25rem;
    background-color: #ffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.625rem;
    padding: 3.125rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.1);
    text-align: center;

    

}

button{
    background-color: blue;
    border: none;
    outline: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    color: #ffff;
    font-size: 1rem;
    cursor: pointer;
    margin: 1.5rem;
}